.App {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.circlularButton {
  background: transparent;
  border: 1px solid "";
  background: rgb(44, 182, 170);
  border-radius: 50%;
}
